<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @restaurant.slug %>
</p>

<h3>Menus</h3>
<% @menus.each do |m|%>
<%=link_to m.title, menu_path(m)%>
<%end%>

<%= link_to "Export to CSV", export_menus_restaurants_path(format: "csv", :restaurant_id => @restaurant.id), :class=>"btn btn-default" %>
<%= link_to "Add a Menu", new_menu_pathh(:restaurant_id => @restaurant.id), :class=>"btn btn-default" %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
