<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<script>
videojs.options.flash.swf = "#{Rails.root}/video-js.swf";
</script>

<% cache ["v1",@video] do %>
<div class="row">
<div class="col-lg-8">
<h3><%= @video.title %></h3>
<video video id="example_video_1" class="video-js vjs-default-skin" 
controls preload="none" width="640" height="264" data-setup="{}">
<source src="<%=@video.media.url(:mp4)%>" type='video/mp4' />
</video>
<br/>
<p><%= @video.description %></p>
</div>
<% end %>

<% cache ["v1",@videos] do%>
<div class="col-lg-4">
<h3>Other Videos</h3>
<% @videos.each do |video| %>
<h3><%=link_to video.title, video %></h3>

<p><%= link_to 'See this Video &raquo;'.html_safe ,video, :class=>"btn btn-success"%></p>
<%end%>
</div>
</div>
<% end %>
</div>
</div>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
